@media only screen and (min-width: 376px) and (max-width: 426px) {
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 10%;
        height: 50vh;
    }

    audio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    h2{
        text-align: center;
    }

    .icon-container {
        display: flex;         /* Enables flexbox layout */
        justify-content: center; /* Centers horizontally */
        
        /* Centers vertically */
        /* align-items: center; */
        width: 100%;
    }

    .bi-caret-right-fill{
        font-size: 2rem;
    }

    .bi-pause-fill{
        font-size: 2rem;
    }
}
