@media only screen and (min-width: 376px) and (max-width: 426px) {
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 20%;
        height: 40vh;
    }

    audio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    h2{
        text-align: center;
    }

    .icon-container {
        display: flex;         /* Enables flexbox layout */
        justify-content: center; /* Centers horizontally */
        
        /* Centers vertically */
        /* align-items: center; */
        width: 100%;
    }

    .bi-caret-right-fill{
        font-size: 2rem;
    }

    .bi-pause-fill{
        font-size: 2rem;
    }

    #div_seekbar {
        display: flex; /* Use flexbox to align items */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically (optional) */
        margin: auto; /* Ensure it's centered relative to parent */
        width: 100%; /* Optional: Adjust based on the parent width */
    }
    
    #seek-bar {
        width: 60%;
        display: inline;
    }
    
    #timestamp {
        text-align: center;
        display: inline;
        margin-left: 10px; /* Add spacing between elements */
    }
    
}
